@import "vars"
@import "fonts"
@import "libs"
@import "mixins/card-product"

::placeholder
	color: rgba(69, 57, 57, 0.5)

::selection
	background-color: $accent
	color: #fff

a
	outline: none
html
	overflow-x: hidden
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: #000
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

a
	text-decoration: none
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none
	&:active
		text-decoration: none		

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.clearfix::after
	content: ""
	clear: both
	display: table

.text-center
	text-align: center

.text-right
	text-align: right	

.text-left
	text-align: left

b, strong
	font-weight: bold


/* Header */

.header
	margin-bottom: 20px
	&__top
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		padding: 12px 216px 12px 212px
		border-bottom: 1px solid #E2E2E2
		span
			font-size: 13px
			letter-spacing: .9px
			img
				width: 17px
				height: 19px
				margin-right: 7px
				vertical-align: middle
			a
				color: $text
	&__middle
		padding: 30px 135px 30px 204px
		form
			position: relative
			margin-top: 13px
			margin-left: 23px
			width: 90%
			input,
			button
				outline: none
				border: none
			input
				font-size: 14px
				background-color: transparent
				height: 44px
				width: 100%
				border: 1px solid #969696
				padding-left: 15px
				color: #000
				border-radius: 2px
			button
				position: absolute
				top: 0
				right: 0
				font-family: "SegoeSemiBold", sans-serif
				font-size: 14px
				background-color: $accent
				color: #fff
				border-radius: 0 2px 2px 0
				height: 44px
				padding: 0 32px
				padding-bottom: 3px
				img
					width: 16px
					vertical-align: middle
					margin-left: 9px
			.dropdown
				position: absolute
				top: 9px
				right: 164px
				font-size: 14px
				color: #000
				cursor: pointer
				img
					width: 8px
					transform: rotate(90deg)
					margin-left: 20px
		.wrapper
			margin-top: 21px
			.login,
			.basket
				display: inline-block
				cursor: pointer
				img
					width: 24px
			.login
				margin-right: 32px
			.basket
				position: relative
				.count
					position: absolute
					top: 8px
					left: 38px
					font-size: 14px
					background-color: #CFCFCF
					line-height: 16px
					border-radius: 30%
					text-align: center
					width: 100%
	&__bottom
		border-top: 1px solid #E2E2E2
		border-bottom: 1px solid #E2E2E2
		//padding: 0 170px
		height: 60px
		nav
			ul
				list-style-type: none
				padding: 0
				margin: 0
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				height: 60px
				overflow: hidden
				li
					border-right: 1px solid #E2E2E2
					padding: 21px 37px
					&:last-child
						border-right: none
						line-height: 16px
					a
						display: block
						font-family: "SegoeBold", sans-serif
						font-size: 14px
						text-transform: uppercase
						color: #000
						letter-spacing: 1.6px
						img
							width: 11px
							background: #E2E2E2
							float: left
							margin-top: 6px
							margin-right: 17px
					.tel
						display: block
						letter-spacing: 1px	

/* End header */

/* HOME SLIDER */

.home-slider
	padding-bottom: 62px
	margin-bottom: 71px!important
	.slick-dots
		bottom: 44px
		li 
			font-size: 5px
			height: auto
			margin: 0
			width: 15px
			button
				&:before
					font-size: 35px
					color: #fff
					opacity: 1
		li.slick-active 
			button
				&:before
					font-size: 40px
					color: $accent
					opacity: 1
	h1
		font-family: "SegoeBlack", sans-serif
		font-size: 36px
		margin-bottom: 36px
		text-transform: uppercase
		letter-spacing: 2.6px
		line-height: 35px
	p
		font-size: 18px
		margin-bottom: 30px
		line-height: 25px
		span
			font-family: "SegoeBold", sans-serif
			font-size: 20px
	.more
		font-family: "SegoeBold", sans-serif 
		font-size: 12px
		text-transform: uppercase
		border: 2px solid $accent
		color: #000
		text-decoration: none
		padding: 13px 60px
		transition: all .4s ease-in-out
		&:hover
			background-color: $accent
			color: #fff
	.wrapper
		position: absolute
		left: 165px
		top: 95px
	img.slider-object
		width: 100%
		margin-left: -90px
		margin-top: 5px

/* END HOME SLIDER */


/* PRODUCT TABS SECTION */

.product
	.tabs
		display: flex
		border: 1px solid #969696
		border-radius: 2px
		margin-bottom: 30px
		a
			font-family: "SegoeBold", sans-serif
			font-size: 16px
			color: #000
			letter-spacing: 1px
			margin-right: 8px
			padding: 9px 40px
			&:last-child
				margin-right: 0
			&.active
				background-color: $accent
				color: #fff
	&__slider	
		margin: 0 210px
		.card-item	
			+product-card
	.arrows
		padding: 0
		margin: 0
		list-style-type: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		li
			display: inline-block
			border: 2px solid #E2E2E2
			border-radius: 2px
			padding: 10px 12px 10px 15px
			transition: all .35s ease-in-out
			img
				width: 20px
			&.prev
				margin-right: 15px
				img
					transform: rotateY(-180deg)
			&:hover
				border-color: $accent

/* END PRODUCT TABS SECTION */


/* Partners section */

.partners
	margin: 0 210px
	margin-top: 65px
	margin-bottom: 72px
	&__container
		background-color: #ECECEC
		padding: 28px 0 42px 31px
		height: 210px
		.num-container
			font-family: "SegoeBlack", sans-serif
			font-size: 18px
			margin-bottom: 10px
			color: $accent
		.description
			font-family: "SegoeBlack", sans-serif
			font-size: 16px
			text-transform: uppercase
			width: 150px
			letter-spacing: 1px
			margin-bottom: 24px
			color: #000
		.logo
			width: 164px
			a
				display: inline-block

/* End partners section */


/* Plumbing section */

.br
	border-right: 1px solid #ECECEC
.bb
	border-bottom: 1px solid #ECECEC

.plumbing
	margin: 0 210px
	margin-bottom: 70px
	.caption-row
		border: 1px solid #ECECEC
		border-radius: 2px
		.wrapper-caption
			background-color: $accent
			border-radius: 2px
			width: 51%
			padding: 10px 25px
			span
				font-family: "SegoeBold", sans-serif 
				font-size: 16px
				letter-spacing: 1px
				color: #fff
		.arrows-navigation
			padding: 0
			margin: 0
			list-style-type: none
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: flex-end
			li
				display: inline-block
				border: 1px solid #E2E2E2
				border-top: none
				border-bottom: none
				border-radius: 2px
				padding: 10px 12px 10px 15px
				transition: all .35s ease-in-out
				img
					width: 20px
				&.prev
					margin-right: 15px
					img
						transform: rotateY(-180deg)
				&.next
					border-right: none
	&__slider
		border-left: 1px solid #E2E2E2
		border-right: 1px solid #E2E2E2
		border-bottom: 1px solid #E2E2E2
		.plumbing-slide
			width: 100%
			position: relative
			height: 200px
			.caption
				font-family: "SegoeSemiBold", sans-serif
				font-size: 16px
				color: #000
				width: 130px
				line-height: 18px
				margin-top: 20px
				a
					color: #000
			.container-image
				position: absolute
				bottom: 25px
				right: 0
				width: 160px

/* End plumbing section */


/* Specification */

.specification
	background-color: #ECECEC
	margin-bottom: 20px
	padding: 70px 0
	.wrapper
		margin: 0 210px
		h1
			font-family: "SegoeBold", sans-serif
			font-size: 16px
			color: #000
			text-transform: uppercase
			letter-spacing: 1px
			margin-bottom: 24px
		ul
			padding: 0
			margin: 0
			margin-left: 18px
			li
				font-size: 14px
				margin-bottom: 10px
		button.more
			background-color: transparent
			font-family: "SegoeBold", sans-serif
			font-size: 12px
			text-transform: uppercase
			border: 2px solid #ff161f
			color: #000
			text-decoration: none
			padding: 10px 60px
			margin-top: 15px
			transition: all .4s ease
			&:hover
				background-color: $accent
				color: #fff

/* End specification */

/* FOOTER */

.footer
	&__top
		border-top: 2px solid #E2E2E2
		border-bottom: 2px solid #E2E2E2
		.ft-slider
			margin: 0 230px
			.slick-slide
				border-right: 2px solid #E2E2E2
				&:last-child
					border-right: none
			.item
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				padding: 20px 0
				img
					width: 52px
					height: 58px
				p
					font-family: "SegoeSemiBold", sans-serif
					font-size: 14px
					margin-left: 10px
					width: 125px
					line-height: 17px
					color: #000
	

/* END FOOTER */
@import "media" // Always at the end